<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Socials:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
        

      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        
        <div class="row mt-3">
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Created with
                </h6>
                
                <svg xlink:href ="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height = "40%">
                    <image xlink:href ="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg" height = "100%"/>
                </svg>
                
              </div>
              <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Created by
            </h6>
            <p>
              Fehér Marcell Gábor              
            </p>
            <p>
                PTE TTK Programtervező Informatikus
            </p>
          </div>
         
          

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
          
            <p>
              <i class="fas fa-envelope me-3"></i>
              marcell.feher.2000@gmail.com
            </p>
            <p>
                <i class = "fas fa-school me-3"></i>
                YMRA12
            </p>
          </div>

        </div>
        <!-- Grid row -->
        
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    
  </footer>

