<div class="modal-header"style="background-color: #FF968A;">
    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
  </div>
  <div class="modal-body" style="text-align: center;">
    <i class="fa-solid fa-x fa-2xl" style="color: #FF968A; line-height: 200%;"></i>
  </div>
  <div class="modal-footer" style="justify-content:space-between!important;background-color: #FF968A;">    
    <button type="button" class="btn btn-primary" style="background-color: #47d384!important;" (click)="deleteProg()">Yes</button>
    <button type="button" class="btn btn-secondary" style="background-color: #e24331!important;" (click)="modalRef.close()">
        No
      </button>
  </div>