<div style="display: block; padding-bottom: 15px;">

    <div style="display: table; margin:auto;  max-width: 350px;">
      <form class="d-flex input-group w-auto ">

        <button class="btn text-gold" type="button" mdbTooltip="Advanced" (click)="showAdv()" >
          <i class="fas fa-gear"></i>
        </button>

        <input
        type="search"
        class="form-control "
        placeholder="Search"
        aria-label="Search"
        name = "searchBar"    
        [(ngModel)]="searchQuery" 
        (keyup.enter)="search()"
        
        />
        <button class="btn text-gold" type="button" (click)="search()">
            <i class="fas fa-search"></i>
        </button>
      </form>
    </div>   

    <!-- display: table; margin: auto; -->
    
    <div [hidden]="displayAdv" class="bg-navy container" style="height: 66px ; width: 350px; padding: 15px;  margin-top: 10px;  vertical-align: middle;">
        <div class="row">
            <div class="col-md-6">
                <select name="test" [(ngModel)]="searchType" style="width: 100%; height: 36px;">
                    <option value="0" >Default</option>
                    
                    <!-- <option value="1">Keywords</option> -->
                    <option value="2">Movie</option>
                    
                    <option value="4">Tv Shows</option>
                    <option value="3">People</option>
                </select>
            </div>
<!--             
            <div class="col-md-4 ">
                
                        <mdb-form-control class="text-gold" *ngIf="(searchType === '2')">
                            <input mdbInput type="text" id="form1" class="form-control" [(ngModel)]="region">
                            <label mdbLabel class="form-label text-gold" for="form1">Region</label>
                        </mdb-form-control>  
                    
                    
                

                    <mdb-form-control class="text-gold" *ngIf="searchType === '3'">
                        <input mdbInput type="text" id="form1" class="form-control" [(ngModel)]="region">
                        <label mdbLabel class="form-label text-gold" for="form1">Region</label>
                    </mdb-form-control>                 

            </div> -->

            <div class="col-md-6">
                <mdb-form-control class="text-gold" *ngIf="(searchType === '4') || (searchType === '2')">
                    <input mdbInput type="date" id="form1" class="form-control" [(ngModel)]="date">
                    <label mdbLabel class="form-label text-gold" for="form1">date</label>
                </mdb-form-control>
            </div>

        </div>
        

    </div>
  </div>