<div style="justify-content: center!important; display: grid;">
<div class="d-flex align-items-center " style="margin-bottom:0px; height: 880px; padding-right: 25px; max-width: 1903px; min-width: 1903px;">
    <div class="col-2 mb-1" style="padding: 25px;  margin-top: 10px;">

        <div class="row mb-1" style="height: 350px;">
            <!-- Profile pic + name -->
            <!-- az api-tól fogja megkapni a profil képet meg nevet... ez csak placeholder -->
            <div class="card bg-navy" style="max-height: 350px;" style="max-width: 292px;" >
                <img class="card-img-top" src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
                <div class="card-body" >
                    <h5 class="card-title text-gold" style="text-align: center;">Example Joe's profile</h5>
                    
                </div>
            </div>
        </div>

        <div class="row mb-1" style="height: 500px;">
            <!-- General data about the user? -->
            <div class="card text-gold bg-navy mb-3" style="margin-bottom: 4px!important;">
                <div class="card-header">
                    <div class="btn-group btn-group-sm" style="width: 100%;" role="group"  aria-label="ListGroup">
                        <button type="button" class="btn btn-primary text-gold" (click)="toList('M')">Movie</button>
                        <button type="button" class="btn btn-primary text-gold" (click)="toList('T')">Shows</button>
                    </div>
                </div>

                <div class="card-body" >
                    <div style="display:inline-block; border-bottom: 1px solid rgba(0,0,0, 0.125);">                  
                        <span style="display:block; width:50%; float:left; text-align: left;">Gender</span>                    
                        <span style="display:block; width:50%; float:right; text-align: right;">Male</span>
                        
                        <span style="display:block; width:50%; float:left; text-align: left;">Birthday</span>                    
                        <span style="display:block; width:50%; float:right; text-align: right;">1992.03.15</span>
                        
                        <span style="display:block; width:50%; float:left; text-align: left;">Joined</span>                    
                        <span style="display:block; width:50%; float:right; text-align: right;">2022.08.23</span>
                    </div>
                    


                </div>
            </div>
        </div>

    </div>
    <div class="col-9 mb-1 " style="height: 850px; width: 82%; ">
       <div class="d-flex align-items-center text-gold" >
            <div class="col-6 ">
                <div class="row bg-navy" style="height: 425px; padding: 15px;">
                    <div class="col-4">                
                        <h3 style="max-height:15%;">TV Stats</h3>
                        <div style="max-height: 90%;">
                            <ul>
                                <li class="w">
                                    <span style="display:block; width:50%; float:left; text-align: left;">Watching:</span>                    
                                    <span style="display:block; width:50%; float:right; text-align: right;">12</span>
                                </li>
                                <li class="f"> 
                                    <span style="display:block; width:50%; float:left; text-align: left;">Finished:</span>                    
                                    <span style="display:block; width:50%; float:right; text-align: right;">12</span>
                                </li>
                                <li class="d">
                                    <span style="display:block; width:50%; float:left; text-align: left;">Dropped:</span>                    
                                    <span style="display:block; width:50%; float:right; text-align: right;">12</span>
                                </li>
                                <li class="p">
                                    <span style="display:block; width:50%; float:left; text-align: left;">Plan to watch:</span>                    
                                    <span style="display:block; width:50%; float:right; text-align: right;">12</span>
                                </li>
                                <li class="o">
                                    <span style="display:block; width:50%; float:left; text-align: left;">On hold:</span>                    
                                    <span style="display:block; width:50%; float:right; text-align: right;">12</span>
                                </li>
                            </ul>

                            <ul style="margin-top: 150px;">
                                <li>
                                    <span style="display:block; width:50%; float:left; text-align: left;">Total watched:</span>                    
                                    <span style="display:block; width:50%; float:right; text-align: right;">12123</span>
                                </li>                            
                            </ul>
                        </div>
                    </div>
                    <div class="col-8" style="padding: 15px;">
                        
                            <canvasjs-chart [options]="tvOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>    
                                               
                    </div>

                </div>
               <div class="row bg-navy" style="height: 425px; padding: 15px;">
                    <div class="col-4">                
                        <h3 style="max-height:15%;">Movie Stats</h3>
                        <div style="max-height: 90%;">
                            <ul>
                                <li class="w">
                                    <span style="display:block; width:50%; float:left; text-align: left;">Watching:</span>                    
                                    <span style="display:block; width:50%; float:right; text-align: right;">12</span>
                                </li>
                                <li class="f"> 
                                    <span style="display:block; width:50%; float:left; text-align: left;">Finished:</span>                    
                                    <span style="display:block; width:50%; float:right; text-align: right;">12</span>
                                </li>
                                <li class="d">
                                    <span style="display:block; width:50%; float:left; text-align: left;">Dropped:</span>                    
                                    <span style="display:block; width:50%; float:right; text-align: right;">12</span>
                                </li>
                                <li class="p">
                                    <span style="display:block; width:50%; float:left; text-align: left;">Plan to watch:</span>                    
                                    <span style="display:block; width:50%; float:right; text-align: right;">12</span>
                                </li>
                                <li class="o">
                                    <span style="display:block; width:50%; float:left; text-align: left;">On hold:</span>                    
                                    <span style="display:block; width:50%; float:right; text-align: right;">12</span>
                                </li>
                            </ul>

                            <ul style="margin-top: 150px;">
                                <li>
                                    <span style="display:block; width:50%; float:left; text-align: left;">Total watched:</span>                    
                                    <span style="display:block; width:50%; float:right; text-align: right;">12123</span>
                                </li>                            
                            </ul>
                        </div>
                    </div>
                    <div class="col-8" style="padding: 15px;">
                        
                            <canvasjs-chart [options]="movieOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>    
                                               
                    </div>

                </div>
            </div>

            <div class="col-6 bg-navy" style="height: 850px; margin-left: 20px; ">

                <div class="row" style="height: 275px; padding: 5px; margin-bottom: 3px;">
                    <h3 style="margin-top: 15px; margin-left:15px;">Favourite Shows</h3>
                    <div class="d-flex flex-row flex-nowrap overflow-auto">
                        <div>
                            <img (click)="redirect('id')"
                            onerror="this.src='https://feb.kuleuven.be/drc/LEER/visiting-scholars-1/image-not-available.jpg/image'"  class="hover-image" mdbTooltip="TV Show Title" src="https://image.tmdb.org/t/p/w500/aGBuiirBIQ7o64FmJxO53eYDuro.jpg" style="max-width: 100px; max-height:150px; border-radius: 5px; flex-shrink: 0; margin-left: 0.5rem;"  alt="" 
                            />
                            
                           
                        </div>
                    </div>

                </div>
                <div class="row" style="height: 275px; padding: 5px; margin-bottom: 3px;">
                    <h3 style="margin-top: 15px; margin-left:15px;">Favourite Movies</h3>
                    <div class="d-flex flex-row flex-nowrap overflow-auto">
                        <img (click)="redirect('id')"
                        onerror="this.src='https://feb.kuleuven.be/drc/LEER/visiting-scholars-1/image-not-available.jpg/image'"  class="hover-image" mdbTooltip="Movie Title" src="https://image.tmdb.org/t/p/w500/aGBuiirBIQ7o64FmJxO53eYDuro.jpg" style="max-width: 100px; max-height:150px; border-radius: 5px; flex-shrink: 0; margin-left: 0.5rem;"  alt="" 
                        />
                    </div>

                </div>
                <div class="row" style="height: 275px; padding: 5px; margin-bottom: 3px;">
                    <h3 style="margin-top: 15px; margin-left:15px;">Favourite People</h3>
                    <div class="d-flex flex-row flex-nowrap overflow-auto">
                        
                        <img (click)="redirect('id')"
                        onerror="this.src='https://feb.kuleuven.be/drc/LEER/visiting-scholars-1/image-not-available.jpg/image'"  class="hover-image" mdbTooltip="Person Name" src="https://image.tmdb.org/t/p/w500/aGBuiirBIQ7o64FmJxO53eYDuro.jpg" style="max-width: 100px; max-height:150px; border-radius: 5px; flex-shrink: 0; margin-left: 0.5rem;"  alt="" 
                        />
                       
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>
</div>