<!-- <p *ngIf="isLoaded && type =='T'">TV works</p>

<p *ngIf="isLoaded && type =='M'">Movie works</p> -->
<div  *ngIf="isLoaded && type =='T'" style="padding-bottom: 50px;">

    <div class="d-flex align-items-start mb-3 bg-navy text-gold" style="text-align: center; padding-top: 5px; padding-bottom: 5px;">
        <div class="col-2">Rank</div>
        <div class="col-8">Show</div>
        <div class="col-2">Status</div>
    </div>

      <div class="d-flex align-items-start mb-3 text-gold" style="text-align: center;">
        
          <div class="col-2"  >
            <h1 style="text-align: middle; vertical-align: middle; height: 318px; line-height: 318px; margin-bottom: 16px;" *ngFor="let detail of Shows; let i = index">{{(i+1)+((pageNum-1)*20)}}</h1>
          </div>

          <div class="col-8">
            <!-- <div class="card-body  card-style" *ngFor="let detail of Shows">
                <h5 class="card-title ">{{detail.name}}</h5>
                <small class="card-style">{{detail.first_air_date}}</small>
                <hr>
                <p class="card-text card-style" style="font-size: 100%;">
                    {{detail.overview}}
                </p>            
            </div> -->
            <div class="card mb-3 mx-auto" style=" background: transparent; "  *ngFor="let detail of Shows">
                
                <div class="row g-0">
                    <div class="col-md-2">
                        <img
                        src="https://image.tmdb.org/t/p/w500{{detail.poster_path}}"  class="card-img-top" alt="{{detail.name}}" style="max-width:240px ;min-height:318px;;" />
                    </div>
                    <div class="col-md-10 text-gold"  >
                        <div class="card-body  card-style" >
                            <h5 class="card-title " style="text-align: start;">{{detail.name}}</h5>
                            <p class="card-text card-style" style="font-size: 100%; text-align: start;" >
                                {{detail.overview}}
                            </p>
                        
                        </div>
                        <!-- <div class="card-footer text-center text-muted footer-pos" >
                            <span class="badge badge-primary btn-outline-primary" style="max-width: 720px; background:transparent; padding: 5px; margin-inline: 5px; float: left;" *ngFor ="let genre of detail.genres">
                                {{genre.name}}
                            </span>
                            
                                <button class="btn btn-primary btn-floating"style=" float: right; margin-left: 5px;" >
                                    <i href="#" class="fa-solid fa-book" > </i>
                                </button>
                                <button class="btn btn-primary btn-floating" style="float: right;">
                                    <i href="#" class="fa-solid fa-check"> </i>
                                </button>                                
                        </div> -->
                    </div>
                </div>
            </div>
          </div>
          
          <div class="col-2">Status</div>
      </div>

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
</div>
