/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';

.bg-navy {
    background-color: #1f3541;
}
.text-gold {
    //#d4af37;
   // color: #D4AF37;
   color: #e0aa3e !important;
}
.bg-offwhie {
    //background-color: #cfceca;
    background-color: #2F7D81;
}
/*
.navbar .navbar-nav > li .navbar-item ,
.navbar .navbar-brand{
                       color: #e0aa3e;
                      } */

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #1f3541 !important;
    
}
.btn-primary:hover{
    background-color: white !important;
    color: #e0aa3e !important;
}
.btn:hover{
    background-color: white !important;
    color: #e0aa3e !important;
}
.bg-overlay {
    background: rgba($color: #000000, $alpha: 0.4);
    
}
.badge, .badge-primary {
    color: #e0aa3e;
    border-color: #e0aa3e;
}
.badge:hover{
    color: #eecf91;
    border-color: #eecf91;
}