<section class="text-center text-lg-start" *ngIf="isLoaded">
    <style>
      .cascading-right {
        margin-right: -50px;
      }
  
      @media (max-width: 991.98px) {
        .cascading-right {
          margin-right: 0;
        }
      }
    </style>
  
    <!-- Jumbotron -->
    <div class="container py-4">
      <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card cascading-right" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
              ">
            <div class="card-body p-5 shadow-5 text-center">
              <h2 class="fw-bold mb-5">Register</h2>
              <form #registerForm = "ngForm">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <!-- <div class="form-outline mb-4">
                  <input type="text" id="form3Example2" class="form-control" name="Username" ngModel/>
                  <label class="form-label" for="form3Example3">Username</label>
                </div> -->
                <mdb-form-control style="margin-bottom: 10px;">
                  <input mdbInput type="text" id="formControlLg" name="Username" ngModel #Username="ngModel" class="form-control form-control-lg" />
                  <label mdbLabel class="form-label" for="formControlLg">Username</label>
                </mdb-form-control>
  
                <!-- Email input -->
                <!-- <div class="form-outline mb-4">
                  <input type="email" id="form3Example3" class="form-control" name="Email" ngModel/>
                  <label class="form-label" for="form3Example3">Email address</label>
                </div> -->

                <mdb-form-control style="margin-bottom: 10px;">
                  <input mdbInput type="text" id="formControlLg" name="Email" ngModel #Email="ngModel" class="form-control form-control-lg" />
                  <label mdbLabel class="form-label" for="formControlLg">Email</label>
                </mdb-form-control>
  
                <!-- Password input -->
                <!-- <div class="form-outline mb-4">
                  <input type="password" id="form3Example4" class="form-control" name="Password" ngModel/>
                  <label class="form-label" for="form3Example4">Password</label>
                </div> -->

                <mdb-form-control style="margin-bottom: 10px;">
                  <input mdbInput type="text" id="formControlLg" name="Password" ngModel #Password="ngModel" class="form-control form-control-lg" />
                  <label mdbLabel class="form-label" for="formControlLg">Password</label>
                </mdb-form-control>
  
                <!-- Checkbox -->
              
                <!-- Submit button -->
                <button  (click)="register(registerForm)" class="btn btn-primary btn-block mb-4">
                  Register
                </button>
  
                <!-- Register buttons -->
            
              </form>
              <a class ="text-dark" href="login">Login</a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0" >
          <!-- <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" class="w-100 rounded-4 shadow-4"
            alt="" /> -->
            <img src = "https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="w-100 rounded-4 shadow-4" alt ="{{movie.title}}"
            />
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->